@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply noto-font
}

.noto-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-bangla {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}